

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg{
  background-image: url('./imgs/backgroundflight.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .bg5{
  background-image: url('./imgs/flightBanner.jpg');
  height: 50vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
} */

.navCol{
  background-color: antiquewhite;
}

.card{
  background-color: black;
}

